# Ignore node_module & .env for mono-repo root
node_modules/
.env
/pnpm-lock.yaml

# Ignore all node_modules across projects
**/node_modules/

# Ignore all .env across projects
**/.env

# Ignore all hardhat build outputs across projects
**/artifacts/
**/cache/

# Ignore all foundry build outputs across projects
**/foundry/out/
**/foundry/cache/
**/lib/

# Ignore Temporary files (for testing)
**/*.csv
.DS_Store

# Ignore Typechain outputs
**/typechain-types
