[submodule "projects/proj04/lib/forge-std"]
	path = projects/proj04/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/eip-1271/lib/forge-std"]
	path = projects/eip-1271/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/eip-1271/lib/openzeppelin-contracts"]
	path = projects/eip-1271/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/eip-2612/lib/forge-std"]
	path = projects/eip-2612/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/eip-2612/lib/openzeppelin-contracts"]
	path = projects/eip-2612/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/nested-struct-sig/lib/forge-std"]
	path = projects/nested-struct-sig/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/nested-struct-sig/lib/openzeppelin-contracts"]
	path = projects/nested-struct-sig/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/meta-transaction/lib/forge-std"]
	path = projects/meta-transaction/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/meta-transaction/lib/openzeppelin-contracts"]
	path = projects/meta-transaction/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/eip-4337/lib/forge-std"]
	path = projects/eip-4337/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/eip-4337/lib/openzeppelin-contracts"]
	path = projects/eip-4337/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/storage-layout/lib/forge-std"]
	path = projects/storage-layout/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/storage-layout/lib/openzeppelin-contracts"]
	path = projects/storage-layout/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/stateful-libraries/lib/forge-std"]
	path = projects/stateful-libraries/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/stateful-libraries/lib/openzeppelin-contracts"]
	path = projects/stateful-libraries/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	
[submodule "projects/breaking-rng/lib/forge-std"]
	path = projects/breaking-rng/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/breaking-rng/lib/openzeppelin-contracts"]
	path = projects/breaking-rng/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/chainlink-vrf/lib/forge-std"]
	path = projects/chainlink-vrf/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/chainlink-vrf/lib/openzeppelin-contracts"]
	path = projects/chainlink-vrf/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/diamonds/lib/forge-std"]
	path = projects/diamonds/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/diamonds/lib/openzeppelin-contracts"]
	path = projects/diamonds/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/bypassing-extcodesize/lib/forge-std"]
	path = projects/bypassing-extcodesize/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/bypassing-extcodesize/lib/openzeppelin-contracts"]
	path = projects/bypassing-extcodesize/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/eip-20/lib/forge-std"]
	path = projects/eip-20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/eip-20/lib/openzeppelin-contracts"]
	path = projects/eip-20/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/metamask-interaction/lib/forge-std"]
	path = projects/metamask-interaction/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/metamask-interaction/lib/openzeppelin-contracts"]
	path = projects/metamask-interaction/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/custom-rng/lib/forge-std"]
	path = projects/custom-rng/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/custom-rng/lib/openzeppelin-contracts"]
	path = projects/custom-rng/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/changing-bytecode/lib/forge-std"]
	path = projects/changing-bytecode/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/changing-bytecode/lib/openzeppelin-contracts"]
	path = projects/changing-bytecode/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/zk-vote/lib/forge-std"]
	path = projects/zk-vote/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/zk-vote/lib/openzeppelin-contracts"]
	path = projects/zk-vote/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/remove-duplicates/lib/forge-std"]
	path = projects/remove-duplicates/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/remove-duplicates/lib/openzeppelin-contracts"]
	path = projects/remove-duplicates/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/simple-sto/lib/forge-std"]
	path = projects/simple-sto/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/simple-sto/lib/openzeppelin-contracts"]
	path = projects/simple-sto/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/simple-sto/lib/solidity"]
	path = projects/simple-sto/lib/solidity
	url = https://github.com/onchain-id/solidity
[submodule "projects/token-vesting/lib/forge-std"]
	path = projects/token-vesting/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/token-vesting/lib/openzeppelin-contracts"]
	path = projects/token-vesting/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/zk-playground/lib/forge-std"]
	path = projects/zk-playground/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/zk-playground/lib/openzeppelin-contracts"]
	path = projects/zk-playground/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/hardhat3-test/lib/forge-std"]
	path = projects/hardhat3-test/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/hardhat3-test/lib/openzeppelin-contracts"]
	path = projects/hardhat3-test/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/zk-playground/zk-02_commitments-merkle/lib/forge-std"]
	path = projects/zk-playground/zk-02_commitments-merkle/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/zk-playground/zk-02_commitments-merkle/lib/openzeppelin-contracts"]
	path = projects/zk-playground/zk-02_commitments-merkle/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/web3auth-mpc/lib/forge-std"]
	path = projects/web3auth-mpc/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/web3auth-mpc/lib/openzeppelin-contracts"]
	path = projects/web3auth-mpc/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/zk-playground/zk-03_range-proof/lib/forge-std"]
	path = projects/zk-playground/zk-03_range-proof/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/zk-playground/zk-03_range-proof/lib/openzeppelin-contracts"]
	path = projects/zk-playground/zk-03_range-proof/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
